svg {
    /*background: #eee;*/
}

.sphere {
    fill: #fff;
}

.land {
    fill: green;
}

.boundary {
    fill: none;
    stroke: #fff;
    stroke-linejoin: round;
    stroke-linecap: round;
    vector-effect: non-scaling-stroke;
}

.overlay {
    fill: none;
    pointer-events: all;
}

.outer {
    width: 700px;
    height: 500px;
}

#main_wrapper {
    left: 20px;
}

.resultsPanel {
    height: 1800px;
    overflow-y: scroll;
}

.resultsTable tbody tr:nth-child(odd) td {
    background-color: lightgray;
}

.resultsTable tbody tr.highlight td {
    background-color: lightskyblue;
}