<template name="Home">
    <div class="page-container main_page" id="content">
        <div id="page_menu" class="pull-right"></div>
        <div id="filterBar" >


            <div class="filter_topPanel">

                <div style="display: inline-block;">
                    <form style="margin-left: 10; display: inline-block;">
                        Normalize by
                        Revenue: <input type="checkbox" value="revenue" onchange="normalizeSustIndex(this)">
                    </form>
                    <img class="myGlyphicon pull-right" title="Refresh" id="resetFilters" src="/svgs/refresh.svg" alt="test">
                </div>
            </div>

            <div class="filter_container" id="accordion">
                <div class="panels">
                    <div class="panelGeneral panel-default">
                        <div class="clickable-panel">
                            <div class="panel-heading">
                                <h4 class="panel-title accordion-toggle" data-toggle="collapse" data-parent="#panelGeneral" data-target="#collapseGeneral">
                                    <a class="lightText">General</a>
                                    <i class="indicator glyphicon glyphicon-chevron-down pull-right"></i>
                                </h4>
                            </div>
                        </div>

                        <div id="collapseGeneral" class="panel-collapse collapse in">
                            <div class="panel-body">

                                <div class="row">
                                    <div class="col-md-12">
                                        <p id="sector"> Sector </p>
                                    </div>

                                    <!--<div class="col-md-12">-->
                                        <!--<p id="industry"> Industry </p>-->
                                    <!--</div>-->

                                </div>

                                <div class="row">

                                    <div class="col-md-6" style="top:5px">
                                        <div id="sector_chart" style="overflow-y: scroll; height: 300px">
                                        </div>
                                    </div>

                                    <!--<div class="col-md-6" style="top:5px">-->
                                        <!--<div id="industry_chart" style="overflow-y: scroll; height: 300">-->
                                            <!--&lt;!&ndash;<div class="clearfix"></div>&ndash;&gt;-->

                                            <!--&lt;!&ndash;<div>&ndash;&gt;-->
                                            <!--&lt;!&ndash;<a class="reset" href="javascript:industryChart.filterAll();dc.redrawAll();"&ndash;&gt;-->
                                            <!--&lt;!&ndash;style="visibility: hidden; position: absolute; height: 5px; right:0;"> reset</a>&ndash;&gt;-->
                                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                        <!--</div>-->
                                    <!--</div>-->

                                </div>
                            </div>
                        </div>
                    </div>

                    <!--EMISSIONS-->
                    <div class="panelEmissions panel-default">
                        <div class="clickable-panel">
                            <div class="panel-heading">
                                <h4 class="panel-title accordion-toggle" data-toggle="collapse" data-parent="#panelEmissions" data-target="#collapseEmissions">
                                    <a> Emissions </a>
                                    <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                                </h4>
                            </div>
                        </div>

                        <div id="collapseEmissions" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div style="display: inline-block">
                                    <p id="ghg1">GHG Scope 1 Emission (1000MT) </p>
                                </div>
                                <div id="ghg1Chart"></div>
                                <div class="col-md-12" style="padding-left:0;">
                                    <div class="col-md-10"><input type="range" class="attrScale" id="ghg1Weight" min="0" max="100" value="100" onchange="ghg1Count()"></div>
                                    <div style="font-size:9px; margin-left:15px;" id="ghg1Count">Weight: 100</div>
                                </div>

                                <div style="display: inline-block">
                                    <p id="ghg2">GHG Scope 2 Emission (1000MT) </p>
                                </div>

                                <div id="ghg2Chart"></div>

                                <div class="col-md-12" style="padding-left:0;">
                                    <div class="col-md-10"><input type="range" class="attrScale" id="ghg2Weight" min="0" max="100" value="100" onchange="ghg2Count()"></div>
                                    <div style="font-size:9px; margin-left:15px;" id="ghg2Count">Weight: 100</div>
                                </div>

                                <div style="display: inline-block">
                                    <p id="ghg3" >GHG Scope 3 Emission (1000MT) </p>
                                </div>

                                <div id="ghg3Chart">
                                </div>

                                <div class="col-md-12" style="padding-left:0;">
                                    <div class="col-md-10" ><input type="range" class="attrScale" id="ghg3Weight" min="0" max="100" value="100" onchange="ghg3Count()"></div>
                                    <div style="font-size:9px; margin-left:15px;" id="ghg3Count">Weight: 100</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--WATER-->
                    <div class="panelWater panel-default">
                        <div class="clickable-panel">
                            <div class="panel-heading">
                                <h4 class="panel-title accordion-toggle" data-toggle="collapse" data-parent="#panelWater" data-target="#collapseWater">
                                    <a> Water </a>
                                    <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                                </h4>
                            </div>
                        </div>

                        <div id="collapseWater" class="panel-collapse collapse in">

                            <div class="panel-body">
                                <div style="display: inline-block">
                                    <p id="totalWaterUse">Total Water Use (1000m<sup>3</sup>) </p></div>
                                <div id="totalWaterUseChart">
                                </div>

                                <div class="col-md-12" style="padding-left:0;">
                                    <div class="col-md-10" ><input type="range" class="attrScale" id="totalWaterUseWeight" min="0" max="100" value="100" onchange="totalWaterUseCount()"></div>
                                    <div style="font-size:9px; margin-left:15px;" id="totalWaterUseCount">Weight: 100</div>
                                </div>

                                <div style="display: inline-block"><p id="totalWaterWithdrawl">Total Water Withdrawl (1000m<sup>3</sup>)</p></div>

                                <div id="totalWaterWithdrawlChart">
                                </div>

                                <div class="col-md-12" style="padding-left:0;">
                                    <div class="col-md-10" ><input type="range" class="attrScale" id="totalWaterWithdrawlWeight" min="0" max="100" value="100" onchange="totalWaterWithdrawlCount()"></div>
                                    <div style="font-size:9px; margin-left:15px;" id="totalWaterWithdrawlCount">Weight: 100</div>
                                </div>

                                <div style="display: inline-block">
                                    <p id="totalWaterDischarged">Total Water Discharged (1000m<sup>3</sup>)</p>
                                </div>

                                <div id="totalWaterDischargedChart"></div>

                                <div class="col-md-12" style="padding-left:0;">
                                    <div class="col-md-10" ><input type="range" class="attrScale" id="totalWaterDischargedWeight" min="0" max="100" value="100" onchange="totalWaterDischargedCount()"></div>
                                    <div style="font-size:9px; margin-left:15px;" id="totalWaterDischargedCount">Weight: 100</div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!--Waste-->
                    <div class="panelWaste panel-default">
                        <div class="clickable-panel">
                            <div class="panel-heading">
                                <h4 class="panel-title accordion-toggle" data-toggle="collapse" data-parent="#panelWaste" data-target="#collapseWaste">
                                    Waste
                                    <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                                </h4>
                            </div>
                        </div>

                        <div id="collapseWaste" class="panel-collapse collapse in">
                            <div class="panel-body">

                                <div style="display: inline-block">
                                    <p id="totalWaste">Total Waste (1000MT)</p>
                                </div>

                                <div id="totalWasteChart"></div>

                                <div class="col-md-12" style="padding-left:0;">
                                    <div class="col-md-10" ><input type="range" class="attrScale" id="totalWasteWeight" min="0" max="100" value="100" onchange="totalWasteCount()"></div>
                                    <div style="font-size:9px; margin-left:15px;" id="totalWasteCount">Weight: 100</div>
                                </div>

                                <div style="display: inline-block">
                                    <p id="wasteRecycled">Waste Recycled (1000MT)</p></div>

                                <div id="wasteRecycledChart"></div>
                                <div class="col-md-12" style="padding-left:0;">
                                    <div class="col-md-10" ><input type="range" class="attrScale" id="wasteRecycledWeight" min="0" max="100" value="100" onchange="wasteRecycledCount()"></div>
                                    <div style="font-size:9px; margin-left:15px;" id="wasteRecycledCount">Weight: 100</div>
                                </div>

                                <div style="display: inline-block">
                                    <p id="wasteSentToLandfill">Waste Sent to Landfill (1000MT) </p></div>

                                <div id="wasteSentToLandfillChart"></div>

                                <div class="col-md-12" style="padding-left:0;">
                                    <div class="col-md-10" ><input type="range" class="attrScale" id="wasteSentToLandfillWeight" min="0" max="100" value="100" onchange="wasteSentToLandfillCount()"></div>
                                    <div style="font-size:9px; margin-left:15px;" id="wasteSentToLandfillCount">Weight: 100</div>
                                </div>


                            </div>
                        </div>
                    </div>

                    <!--Energy-->
                    <div class="panelEnergy panel-default">
                        <div class="clickable-panel">
                            <div class="panel-heading">
                                <h4 class="panel-title accordion-toggle" data-toggle="collapse" data-parent="#panelEnergy" data-target="#collapseEnergy">
                                    Energy
                                    <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                                </h4>
                            </div>
                        </div>

                        <div id="collapseEnergy" class="panel-collapse collapse in">
                            <div class="panel-body">

                                <div style="display: inline-block">
                                <p id="totalEnergyConsumption">Total Energy Consumption (1000MWh)</p></div>
                                <div id="totalEnergyConsumptionChart"></div>

                                <div class="col-md-12" style="padding-left:0;">
                                    <div class="col-md-10" ><input type="range" class="attrScale" id="totalEnergyConsumptionWeight" min="0" max="100" value="100" onchange="totalEnergyConsumptionCount()"></div>
                                    <div style="font-size:9px; margin-left:15px;" id="totalEnergyConsumptionCount">Weight: 100</div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!--&lt;!&ndash;MISC&ndash;&gt;-->
                    <!--<div class="panelMisc panel-default">-->
                        <!--<div class="clickable-panel">-->
                            <!--<div class="panel-heading">-->
                                <!--<h4 class="panel-title accordion-toggle" data-toggle="collapse" data-parent="#panelMisc" data-target="#collapseMisc">-->
                                    <!--Misc-->
                                    <!--<i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>-->
                                <!--</h4>-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div id="collapseMisc" class="panel-collapse collapse in">-->
                            <!--<div class="panel-body" style="height:825px;">-->
                                <!--<row>-->
                                    <!--<p>Climate Change Policy Implemented</p>-->
                                <!--</row>-->
                                <!--<div id="ccPolicyImplRowChart" class="binaryBars"></div>-->
                                <!--<div id="ccPolicyImplRowChart2" class="binaryBars"></div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
        <div id="controlBar">
            <div class="controlIcons">
                <img class="myGlyphicon" title="Scroll to General" id="scrollToGeneral" src="/svgs/general.svg" alt="test">
                <img class="myGlyphicon" title="Scroll to Emissions" id="scrollToEmissions" src="/svgs/emissions.svg" alt="test">
                <img class="myGlyphicon" title="Scroll to Water" id="scrollToWater" src="/svgs/water.svg" alt="test">
                <img class="myGlyphicon" title="Scroll to Waste" id="scrollToWaste" src="/svgs/waste.svg" alt="test">
                <img class="myGlyphicon" title="Scroll to Energy" id="scrollToEnergy" src="/svgs/energy.svg" alt="test">
                <hr>
                <!--title="Expand filters" id="expandFilterButton"-->
                <img class="myGlyphicon" title="Collapse filters" id="collapseFilterButton" src="/svgs/collapseLeft.svg" alt="test">
                <img class="myGlyphicon" title="Expand filters" id="expandFilterButton" style="display:none" src="/svgs/collapseRight.svg" alt="test">
            </div>
        </div>
        <div id="resultBar">
            <div class="resultScatterPlotView" style="display: inline-block">

                <svg id="expandIcon" class="scatterExpand" fill="#000000" height="15" viewBox="0 0 24 24" width="15" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <defs><path d="M0 0h24v24H0z" id="a"/></defs>
                    <clipPath id="b"><use overflow="visible" xlink:href="#a"/></clipPath>
                    <path clip-path="url(#b)" d="M15 3l2.3 2.3-2.89 2.87 1.42 1.42L18.7 6.7 21 9V3zM3 9l2.3-2.3 2.87 2.89 1.42-1.42L6.7 5.3 9 3H3zm6 12l-2.3-2.3 2.89-2.87-1.42-1.42L5.3 17.3 3 15v6zm12-6l-2.3 2.3-2.87-2.89-1.42 1.42 2.89 2.87L15 21h6z"/>
                    <path clip-path="url(#b)" d="M0 0h24v24H0z" fill="none"/>
                </svg>

                <!--style="display: none"-->
                <div id="axisSelectors">
                    <select id="xaxisMeasure" onchange="changeX()">
                        <option value="ghg1" selected="selected">GHG1</option>
                        <option value="ghg2">GHG2</option>
                        <option value="ghg3">GHG3</option>
                        <option value="revenue">Revenue</option>
                        <option value="price">Price</option>
                        <option value="totalWaterUse">Water Intensity Per Sales</option>
                        <option value="totalWaterWithdrawl">Total Water Withdrawl</option>
                        <option value="totalWaterDischarged">Total Water Discharged</option>
                        <option value="totalWaste">Waste Sent To Landfill</option>
                        <option value="wasteSentToLandfill">Waste Intensity Per Sales</option>
                        <option value="wasteRecycled">Waste Generated Per Assets</option>
                        <option value="totalEnergyConsumption">Energy Intensity Per Sales</option>
                    </select>

                    <select id="yaxisMeasure" onchange="changeY()">
                        <option value="ghg1" selected="selected">GHG1</option>
                        <option value="ghg2">GHG2</option>
                        <option value="ghg3">GHG3</option>
                        <option value="revenue">Revenue</option>
                        <option value="price">Price</option>
                        <option value="totalWaterUse">Water Intensity Per Sales</option>
                        <option value="totalWaterWithdrawl">Total Water Withdrawl</option>
                        <option value="totalWaterDischarged">Total Water Discharged</option>
                        <option value="totalWaste">Waste Sent To Landfill</option>
                        <option value="wasteSentToLandfill">Waste Intensity Per Sales</option>
                        <option value="wasteRecycled">Waste Generated Per Assets</option>
                        <option value="totalEnergyConsumption">Energy Intensity Per Sales</option>
                    </select>
                </div>

                <div id="scatter"></div>
            </div>

            <div class="resultMapView" style="display: inline-block">
                <svg id="expandIcon" class="mapExpand" fill="#000000" height="15" viewBox="0 0 24 24" width="15" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <defs>
                        <path d="M0 0h24v24H0z" id="a"/>
                    </defs>
                    <clipPath id="b">
                        <use overflow="visible" xlink:href="#a"/>
                    </clipPath>
                    <path clip-path="url(#b)" d="M15 3l2.3 2.3-2.89 2.87 1.42 1.42L18.7 6.7 21 9V3zM3 9l2.3-2.3 2.87 2.89 1.42-1.42L6.7 5.3 9 3H3zm6 12l-2.3-2.3 2.89-2.87-1.42-1.42L5.3 17.3 3 15v6zm12-6l-2.3 2.3-2.87-2.89-1.42 1.42 2.89 2.87L15 21h6z"/>
                    <path clip-path="url(#b)" d="M0 0h24v24H0z" fill="none"/>
                </svg>

                <div id="worldMap">
                    <!--<button type="button" class="btn btn-secondary filterTexts filterButtons pull-right" id="mapWorldView">World</button>-->
                    <!--<button type="button" class="btn btn-secondary filterTexts filterButtons pull-right" id="mapUsView">US</button>-->
                </div>
            </div>

            <div class="resultListView" style="display: inline-block">

                <svg id="expandIcon" class="listExpand" fill="#000000" height="15" viewBox="0 0 24 24" width="15" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <defs>
                        <path d="M0 0h24v24H0z" id="a"/>
                    </defs>
                    <clipPath id="b">
                        <use overflow="visible" xlink:href="#a"/>
                    </clipPath>
                    <path clip-path="url(#b)" d="M15 3l2.3 2.3-2.89 2.87 1.42 1.42L18.7 6.7 21 9V3zM3 9l2.3-2.3 2.87 2.89 1.42-1.42L6.7 5.3 9 3H3zm6 12l-2.3-2.3 2.89-2.87-1.42-1.42L5.3 17.3 3 15v6zm12-6l-2.3 2.3-2.87-2.89-1.42 1.42 2.89 2.87L15 21h6z"/>
                    <path clip-path="url(#b)" d="M0 0h24v24H0z" fill="none"/>
                </svg>

                <table class="table resultsTable">
                    <thead class="thead-inverse">
                    <tr>
                        <th>Logo</th>
                        <th>Company Name
                            <i class="fa fa-sort-alpha-asc pull-right" id="sortByCompanyButton"></i>
                        </th>
                        <th>Sustainability Score
                            <i class="fa fa-sort-numeric-asc pull-right" id="sortByScoreButton"></i>
                        </th>
                        <th># Sustainability Reports
                            <i class="fa fa-sort-numeric-asc pull-right" id="sortByNumPDFReport"></i>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="about" id="content" style="display: none">
        <div class="col-md-12">
            <div id="content-subpage">

            <h1> Canopy is an <b>interactive data visualization tool</b> for analyzing S&P 500 companies' sustainability-related data.
                <a href="http://entsci.gatech.edu/">We</a> aim to increase the accessibility and visibility of <b> corporate sustainability</b>.</h1>

                <h2> Ways to Use This Tool </h2>

                <div class="content-text">
                    On the left panel, users can dynamically select subsets of companies with 1 categorical filter (sector) and 9 numerical filters (environmental data). These filters are themselves data visualizations; they show the distribution of companies along different data dimensions. The filters are linked with each other and with result panel; filtering on one dimension will filter data on other dimensions, and the filters dynamically update results on the right panel. Users can incrementally filter companies along all dimensions or choose to use only a few filters. An example usage is to use sector filter first, then move filters on environmental data for sectoral analysis. Users can give weights to each dimension based on their perceived relative importance of dimensions. These weights affect calculation of sustainability index.

                    <br>
                    <br>

                    On the right panel, three different visualization panels (scatterplot, geo map, and expandable list) support data analytics of filtered companies. The scatterplot panel allows users to plot data dimensions on 2D cartesian coordinates and discover linear relationships between dimensions. The geo map panel allows users to view the locations of companies and see how geographical distributions of companies change with different filters. The expandable list allows users to view calculated sustainability index as well as respective raw data by expanding on rows. These panels can be sized to full screen by clicking on expand <svg fill="#000000" height="15" viewBox="0 0 24 24" width="15" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <defs>
                        <path d="M0 0h24v24H0z" id="a"/>
                    </defs>
                    <clipPath id="b">
                        <use overflow="visible" xlink:href="#a"/>
                    </clipPath>
                    <path clip-path="url(#b)" d="M15 3l2.3 2.3-2.89 2.87 1.42 1.42L18.7 6.7 21 9V3zM3 9l2.3-2.3 2.87 2.89 1.42-1.42L6.7 5.3 9 3H3zm6 12l-2.3-2.3 2.89-2.87-1.42-1.42L5.3 17.3 3 15v6zm12-6l-2.3 2.3-2.87-2.89-1.42 1.42 2.89 2.87L15 21h6z"/>
                    <path clip-path="url(#b)" d="M0 0h24v24H0z" fill="none"/>
                </svg> icon.

                    <!--The panels support data linking. -->
                </div>

                <h2> Data Source </h2>
                <div class="content-text">
                    Environmental data were gathered through queries to Bloomberg Terminal. Originally, the data values are scraped from GRI (Global Reporting Initiatives) sustainability reports. Some of company metadata such as revenue, number of employees, and assets owned by each company were also gathered through Bloomberg Terminal.

                    Other metadata were gathered from various sources. Headquarter addresses were listed in
                    <a href="https://en.wikipedia.org/wiki/List_of_S%26P_500_companies">Wikipedia </a>, which were then used to gather lat/long coordinates by sending API requests to <a href="https://github.com/komoot/photon">Photon</a> through <a href="https://github.com/geopy/geopy">Geopy </a>. These coordinates used for creating company geomap.
                    Company URLs were gathered through using  <a href="https://www.blockspring.com/"> BlockSpring </a>'s Google Sheets Plug-in.
                    Company logos were gathered through queries to <a href="https://logo.clearbit.com">Clearbit Logo API.</a>

                </div>

                <h2> Data Fields (lick on each field view description) </h2>
                <div class="content-text">
                    Categorize companies geographically and sectorally
                </div>

                <div class="dataDimension">
                    <p data-toggle="collapse" href="#collapseIndustry" aria-expanded="false"
                       id="expandableText"> &#8226; Industry </p>
                    <div id="collapseIndustry" class="collapse collapseSubTexts" >ISBN Industry</div>
                </div>

                <div class="dataDimension">
                    <p data-toggle="collapse" href="#collapseSector" aria-expanded="false"
                       id="expandableText"> &#8226; Sector </p>
                    <div id="collapseSector" class="collapse collapseSubTexts" >ISBN Sector</div>
                </div>

                <div class="dataDimension">
                    <p data-toggle="collapse" href="#collapseAddress" aria-expanded="false"
                       id="expandableText"> &#8226;  Headquarter Address </p>
                    <div id="collapseAddress" class="collapse collapseSubTexts"></div>
                </div>

                <div class="dataDimension">
                    <p data-toggle="collapse" href="#collapseLatLong" aria-expanded="false"
                       id="expandableText"> &#8226;  Latitude / Longitude of headquarter </p>
                    <div id="collapseLatLong" class="collapse collapseSubTexts"></div>
                </div>

                <div class="content-text">
                    View each company's raw environmental data
                </div>

                <div class="dataDimension">
                    <p data-toggle="collapse" href="#collapseGHG1" aria-expanded="false"
                       id="expandableText"> &#8226; GHG Scope 1 Emissions </p>
                    <div id="collapseGHG1" class="collapse collapseSubTexts">
                        Scope 1 Emissions are those emitted from sources that are owned or controlled by the reporting entity. Examples of Direct Emissions include                     emissions from combustion in owned or controlled boilers, furnaces, vehicles, emissions from chemical production in owned or controlled process                         equipment.</div>
                </div>

                <div class="dataDimension">
                    <p data-toggle="collapse" href="#collapseGHG2" aria-expanded="false"
                       id="expandableText"> &#8226; GHG Scope 2 Emissions </p>
                    <div id="collapseGHG2" class="collapse collapseSubTexts">
                        Scope 2 Emissions are those emitted that are a consequence of the activities of the reporting entity, but occur at sources owned or controlled by another entity. The principle source of Indirect Emissions is emissions from purchased electricity, steam and/or heating/cooling. These emissions physically occur at the facility where electricity/steam/heating/cooling is generated.</div>
                </div>

                <div class="dataDimension">
                    <p data-toggle="collapse" href="#collapseGHG3" aria-expanded="false"
                       id="expandableText"> &#8226; GHG Scope 3 Emissions </p>
                    <div id="collapseGHG3" class="collapse collapseSubTexts">
                        Scope 3 emissions are all non-scope 2, indirect emissions, such as the extraction and production of purchased materials and fuels, transport-related activities in vehicles not owned or controlled by the reporting entity, electricity-related activities (e.g. Transmission & Distribution losses) not covered in Scope 2, outsourced activities, waste disposal, etc.</div>
                </div>

                <div class="dataDimension">
                    <p data-toggle="collapse" href="#collapseTotalWaterUse" aria-expanded="false"
                       id="expandableText"> &#8226; Total Water Use </p>
                    <div id="collapseTotalWaterUse" class="collapse collapseSubTexts">
                        Total amount of water used to support a company's operational processes, in thousands of cubic meters. The sum of all water withdrawls for process                  water and cooling water and all water retained by company facilities through recycling.</div>
                </div>

                <div class="dataDimension">
                    <p data-toggle="collapse" href="#collapseTotalWaterWithdrawl" aria-expanded="false"
                       id="expandableText"> &#8226; Total Water Withdrawl </p>
                    <div id="collapseTotalWaterWithdrawl" class="collapse collapseSubTexts">
                        Total amount of water used to support a company's operational processes, in thousands of cubic meters. The sum of all water withdrawls for process                  water and cooling water and all water retained by company facilities through recycling.</div>
                </div>

                <div class="dataDimension">
                    <p data-toggle="collapse" href="#collapseTotalWaterDischarged" aria-expanded="false"
                       id="expandableText"> &#8226; Total Water Discharged </p>
                    <div id="collapseTotalWaterDischarged" class="collapse collapseSubTexts">
                        Total volume of liquid waste and process water discharged by the corporation, in thousands of cubic meters. Includes treated and untreated effluents returned to any water source. The volume of cooling water discharged is specifically reported as the field cooling water outflow. </div>
                </div>

                <div class="dataDimension">
                    <p data-toggle="collapse" href="#collapseTotalWaste" aria-expanded="false"
                       id="expandableText"> &#8226; Total Waste </p>
                    <div id="collapseTotalWaste" class="collapse collapseSubTexts">
                        Total amount of waste the company discards, both hazardous and non-hazardous, in thousands of metric tons.</div>
                </div>


                <div class="dataDimension">
                    <p data-toggle="collapse" href="#collapseWasteRecycled" aria-expanded="false"
                       id="expandableText"> &#8226; Waste Recycled </p>
                    <div id="collapseWasteRecycled" class="collapse collapseSubTexts">
                        Total amount of waste the company discards, both hazardous and non-hazardous, in thousands of metric tons. </div>
                </div>

                <div class="dataDimension">
                    <p data-toggle="collapse" href="#collapseWasteSentToLandfill" aria-expanded="false"
                       id="expandableText"> &#8226; Waste Sent to Landfill </p>
                    <div id="collapseWasteSentToLandfill" class="collapse collapseSubTexts">
                        Amount of company waste sent to landfills, in thousands of metric tons. </div>
                </div>



                <div class="dataDimension">
                    <p data-toggle="collapse" href="#collapseEnergyConsumption" aria-expanded="false"
                        id="expandableText"> &#8226; Total Energy Consumption </p>
                    <div id="collapseEnergyConsumption" class="collapse collapseSubTexts">
                        Amount of company waste sent to landfills, in thousands of metric tons. </div>
                </div>



                <div class="content-text">
                    Normalize raw data with indicators of company impact
                </div>

                <div class="dataDimension">
                    <p data-toggle="collapse" href="#collapseRevenue" aria-expanded="false"
                       id="expandableText"> &#8226;  Revenue of Company </p>
                    <div id="collapseRevenue" class="collapse collapseSubTexts">
                        Text </div>
                </div>



                <div class="dataDimension">
                    <p data-toggle="collapse" href="#collapseNumEmployees" aria-expanded="false"
                       id="expandableText"> &#8226;  Number of Employees (To be gathered) </p>
                    <div id="collapseNumEmployees" class="collapse collapseSubTexts">
                        Text </div>
                </div>



                <div class="dataDimension">
                    <p data-toggle="collapse" href="#collapseAssets" aria-expanded="false"
                       id="expandableText"> &#8226;  Assets owned by company </p>
                    <div id="collapseAssets" class="collapse collapseSubTexts">
                        Text </div>
                </div>

                <h2> About Sustainability Index Calculation </h2>

                <!--\\ \textup{Sustainability Index of company \textit{i} } = \left ( \sum_{j = 0}^{n} w_{j}  \frac{ \mathrm{X}_{i,j} }{   \underset{0 \leq i \leq n }{ \textsc{max}} \left( \mathrm{X}_{i,j}  \right) }   \right)-->
                <!--\\ \\ \\-->
                <!--\textup{Sustainability Index company (Normalized by field {f}) \textit{i} } =\left (  \sum_{j = 0}^{n} w_{j} \frac{ \mathrm{X}_{i,j} / f_{i} }{   \underset{0 \leq i \leq n }{ \textsc{max}} \left( \mathrm{X}_{i,j} / f_{i}  \right) }   \right)-->
                <!--\\ \\ \\-->
                <!--W = \mathrm{n \ dimensional \  weight \  vector \ whose \ componts \ sum \ to \ 0} \\-->
                <!--X = \mathrm{m \ \times n \  data \ matrix.\  Entry \ (i, j) \ holds \ the \ data \ value \ of \ i^{t} \ company \ at \ j^{th} \  dimension} \\-->
                <!--\mathrm{n = number \ of \ dimensions}\\-->
                <!--\mathrm{m = number \ of \ companies}-->

                <div class="content-text"><img src="/svgs/sustIndexEq1.svg"></div>

                <div class="content-text">



                </div>

                <h2> Contact </h2>
                <div class="content-text">
                    Questions? Please email <a href="http://www.jennakwon.com">Jenna </a> at <a href = "mailto:jkwon47@gatech.edu"> jkwon47 at gatech dot edu</a>!
                </div>
            </div>
        </div>
    </div>

    <div class="raw_data" id="content" style="display: none">
        <div class="col-md-12">
            <p id="content-subpage">
                <!--https://datatables.net/forums/discussion/14342/column-header-not-aligned-with-column-data-with-horizontal-scrolling/p2-->
            <div class="rawDataTableOuter">
                <table class="rawDataTable display" cellspacing="0" width="100%" title="canopy_rawdata">
                <thead>
                <tr>
                    <th>Company Name</th>
                    <th>Ticker</th>
                    <th>Headquarter Address</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Price</th>
                    <th>Revenue</th>
                    <th>Industry</th>
                    <th>Sector</th>
                    <th>GHG Scope 1</th>
                    <th>GHG Scope 2</th>
                    <th>GHG Scope 3</th>
                    <th>Total Water Use</th>
                    <th>Water Withdrawal</th>
                    <th>Water Discharged</th>
                    <th>Total Waste</th>
                    <th>Waste Recycled</th>
                    <th>Waste Sent to Landfill</th>
                    <th>Total Energy Consumption</th>
                    <th>ISIN</th>
                </tr>
                </thead>

                <tbody>
                </tbody>

            </table>
            </div>

            </p>
        </div>
    </div>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-80576811-1', 'auto');
        ga('send', 'pageview');
    </script>

</template>
