<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		Canopy
	</title>

    <div class="modal fade" id="modalVarWeights" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Set Variable Weights</h4>
                </div>
                <div class="modal-body">
                    <ul class="modal-list list-group">

                        <input type="range" id="myRange" min="0" max="100" style="width: 500px; margin:0px"
                               onchange="myFunction()">

                        <div >
                            <p id="sliderCount"></p>
                        </div>
                        <script>
                            function myFunction() {
                                var x = "Weight " + document.getElementById("myRange").value;
                                document.getElementById("sliderCount").innerHTML = x;
                            }
                        </script>

                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="closeModalButton" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</head>
<template name="layout">
	{{#if currentUser}}
		{{> PrivateLayout}}
	{{else}}
		{{> PublicLayout}}
	{{/if}}
</template>

<template name="PublicLayout">
	<div id="content" class="sticky-wrapper">
		<div id="navbar" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="navbar-container">
                <!--<div class="logo-container">-->
                    <!--<img src="/images/logo.png" alt="Smiley face" height="42" width="42" style="left: 0px;">-->
                <!--</div>-->
				<div class="navbar-header">
                    <a class="navbar-brand">
						Canopy
					</a>

				</div>
				<div id="menu" class="collapse navbar-collapse">
					{{> PublicLayoutLeftMenu}}{{> PublicLayoutRightMenu}}
				</div>
			</div>
		</div>
		<div class="navbar-spacer">
		</div>
		{{> yield}}
	</div>
	<div id="footer" class="sticky-footer">
		<div class="footer-container container">
			<p class="text-muted">
			</p>
		</div>
	</div>
</template>

<template name="PublicLayoutLeftMenu">
	<ul id="menu-items" class="nav navbar-nav">
		<li id="menu-item-simple" class="{{menuItemClass 'home_public'}}">
			<a href="{{pathFor 'home_public'}}">
				<span class="item-title">
					Home
				</span>
			</a>
		</li>
		<li id="menu-item-simple" class="{{menuItemClass 'home_public'}}">
			<a href="{{pathFor 'home_public'}}">
				<span class="item-title">
					About
				</span>
			</a>
		</li>
	</ul>
</template>

<template name="PublicLayoutRightMenu">
	<ul id="menu-items" class="nav navbar-nav navbar-right">
		<li id="menu-item-simple" class="{{menuItemClass 'register'}}">
			<a href="{{pathFor 'register'}}">
				<span class="item-title">
					Register
				</span>
			</a>
		</li>
		<li id="menu-item-simple" class="{{menuItemClass 'login'}}">
			<a href="{{pathFor 'login'}}">
				<span class="item-title">
					Login
				</span>
			</a>
		</li>
	</ul>
</template>

<template name="PrivateLayout">
	<div id="content" class="sticky-wrapper">
		<div id="navbar" class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="navbar-container container">
				<div class="navbar-header">

                    <!--<img src="/images/logo.png" alt="Smiley face" height="42" width="42" style="left: 0px;">-->

                    <a class="navbar-brand">
						Canopy
					</a>

                </div>
				<div id="menu" class="collapse navbar-collapse">
					{{> PrivateLayoutLeftMenu}}{{> PrivateLayoutRightMenu}}
				</div>
			</div>
		</div>
		<div class="navbar-spacer">
		</div>
		{{> yield}}
	</div>
	<!--<div id="footer" class="sticky-footer">-->
		<!--<div class="footer-container container">-->
			<!--<p class="text-muted">-->
			<!--</p>-->
		<!--</div>-->
	<!--</div>-->
</template>

<template name="PrivateLayoutLeftMenu">


    <ul id="menu-items" class="nav navbar-nav">

        <button type="button" class="btn btn-secondary filterTexts" id="applyFilterButton">Apply</button>
        <button type="button" class="btn btn-secondary filterTexts" id="resetAllFiltersButton">Reset</button>
        <button type="button" class="btn btn-secondary filterTexts" id="resetAllFiltersButton"
                data-toggle="modal" data-target="#modalVarWeights">Set Variable Weights</button>

    </ul>

    <ul class="nav navbar-nav">
        <div class='companiesCount'>
            <span class='filter-count'></span>
            <!--selected out of <span class='total-count'></span> records.-->
        </div>
    </ul>


    <!--<span class="glyphicon glyphicon-circle-arrow-right myGlyphicon" title="Apply filters" id="applyFilterButton"></span>-->
    <!--<span class="glyphicon glyphicon-remove myGlyphicon" title="Reset all filters" id="resetAllFiltersButton"></span>-->

	<!--<ul id="menu-items" class="nav navbar-nav">-->
		<!--<li id="menu-item-simple" class="{{menuItemClass 'home_private'}}">-->
			<!--<a href="{{pathFor 'home_private'}}">-->
				<!--<span class="item-title">-->
					<!--Home-->
				<!--</span>-->
			<!--</a>-->
		<!--</li>-->


		<!--<li id="menu-item-simple" class="{{menuItemClass 'compare_panel'}}">-->
			<!--<a href="{{pathFor 'compare_panel'}}">-->
				<!--<span class="item-title">-->
					<!--Compare results-->
				<!--</span>-->
			<!--</a>-->
		<!--</li>-->
	<!--</ul>-->
</template>

<template name="PrivateLayoutRightMenu">
	<ul class="nav navbar-nav navbar-right">
		<li id="menu-item-dropdown" class="dropdown ">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				<span class="item-title">
					{{userEmail}}
				</span>
				<b class="caret">
				</b>
			</a>
			<ul id="menu-items" class="dropdown-menu">
				<li class="{{menuItemClass 'user_settings'}}">
					<a href="{{pathFor 'user_settings'}}">
						<span class="item-title">
							Settings
						</span>
					</a>
				</li>
				<li class="{{menuItemClass 'logout'}}">
					<a href="{{pathFor 'logout'}}">
						<span class="item-title">
							Logout
						</span>
					</a>
				</li>
			</ul>
		</li>
	</ul>
</template>

