<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		Canopy
	</title>

</head>
<template name="layout">
	<div id="content" class="sticky-wrapper">
		<div id="navbar" class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="navbar-container container">
				<div class="navbar-header">
                    <!--<img src="/images/logo.png" alt="Smiley face" height="42" width="42" style="left: 0px;">-->
                    <a class="navbar-brand navbar-canopy">Canopy</a>
                </div>
                {{> PrivateLayoutRightMenu}}

                {{> PrivateLayoutLeftMenu}}
			</div>
		</div>
		<div class="navbar-spacer">
		</div>
		{{> yield}}
	</div>

</template>

<template name="PrivateLayoutLeftMenu">
    <ul class="leftNavbarMenu nav navbar-nav pull-left">
        <a class="navbar-brand navbar-about"> About </a>
        <a class="navbar-brand navbar-raw-data"> Raw Data </a>
    </ul>

</template>


<template name="PrivateLayoutRightMenu">
    <ul class="rightNavbarMenu nav navbar-nav pull-right">
        <ul id="breadcrumb"></ul>
        <div id="gradientLegend"></div>
        <!--<div class='companiesCount'> -->
        <!--<span class='filter-count'></span>-->
        <!--&lt;!&ndash;selected out of <span class='total-count'></span> records.&ndash;&gt; </div> -->
    </ul>
    <!--<span class="glyphicon glyphicon-circle-arrow-right myGlyphicon" title="Apply filters" id="applyFilterButton"></span>-->
    <!--<span class="glyphicon glyphicon-remove myGlyphicon" title="Reset all filters" id="resetAllFiltersButton"></span>-->

	<!--<ul id="menu-items" class="nav navbar-nav">-->
		<!--<li id="menu-item-simple" class="{{menuItemClass 'home'}}">-->
			<!--<a href="{{pathFor 'home'}}">-->
				<!--<span class="item-title">-->
					<!--Home-->
				<!--</span>-->
			<!--</a>-->
		<!--</li>-->
</template>

