<template name="HomePrivate">
    <div class="page-container" id="content">

			<div class="col-md-6" id="main_wrapper">

                <div class="row">
                    <!--<h2 id="page_title" class="pull-left">-->
                        <!--&lt;!&ndash;Welcome {{userFullName}}!&ndash;&gt;-->
                        <!--Filters-->
                    <!--</h2>-->

                    <div class="col-md-9">
                        <h1> Filters </h1>
                    </div>

                    <div class="col-md-2" style="margin-top: 25px;">
                        <button type="button" class="btn btn-success pull-right" id="applyFilterButton">Apply filters!</button>
                    </div>



                    <div id="page_menu" class="pull-right"></div>


                </div>



                <div class="filter_container">
                    <!--http://www.jasny.net/bootstrap/getting-started/#download-->

                    <div class="row">
                        <div id="risk_exposed_chart">
                            <strong>Exposed Risk</strong> fsz
                            <a class="reset" href="javascript:riskExposedChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>

                            <div class="clearfix"></div>
                        </div>

                        <div id="cc_policy_impl_chart">
                            <strong>Climate Change Policy Implemented</strong>
                            <a class="reset" href="javascript:ccPolicyImplChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>

                            <div class="clearfix"></div>
                        </div>
                    </div>

                    <h3> CO2 Emissions </h3>

                    <div class="row">
                        <div id="ghg-1-chart">
                        <strong>GHG Scope 1 Emission</strong>
                        <span class="reset" style="display: none;">range: <span class="filter"></span></span>
                        <a class="reset" href="javascript:ghg1Chart.filterAll();dc.redrawAll();" style="display: none;">reset</a>

                        <div class="clearfix"></div>
                        </div>

                        <div id="ghg-2-chart">
                            <strong>GHG Scope 2 Emission</strong>
                            <span class="reset" style="display: none;">range: <span class="filter"></span></span>
                            <a class="reset" href="javascript:ghg2chart.filterAll();dc.redrawAll();" style="display: none;">reset</a>

                            <div class="clearfix"></div>
                        </div>

                        <div id="ghg-3-chart">
                            <strong>GHG Scope 3 Emission</strong>
                            <span class="reset" style="display: none;">range: <span class="filter"></span></span>
                            <a class="reset" href="javascript:ghg3Chart.filterAll();dc.redrawAll();" style="display: none;">reset</a>

                            <div class="clearfix"></div>
                        </div>
                    </div>

                    <h3> Water Footprint </h3>

                    <h3> Waste Footprint </h3>

                    <h3> Energy Footprint </h3>

                    <div class="row">
                        <h3> Industry </h3>

                        <div id="industry_chart" style="overflow-y: scroll; height: 300px">
                            <a class="reset" href="javascript:industryChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
                            <div class="clearfix"></div>
                        </div>

                        <h3> Sector </h3>

                        <div id="sector_chart" style="overflow-y: scroll; height: 300px">
                            <a class="reset" href="javascript:sectorChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <script>
                        var width = 720,
                                height = 500;

                        var projection = d3.geo.mercator()
                                .translate([width / 2, height / 2])
                                .scale((width - 1) / 2 / Math.PI);

                        var zoom = d3.behavior.zoom()
                                .scaleExtent([1, 8])
                                .on("zoom", zoomed);

                        var path = d3.geo.path()
                                .projection(projection);

                        d3.select("#main_wrapper").append("h3")
                                .text("Location");

                        var svg = d3.select("#main_wrapper").append("svg")
                                .attr("width", width)
                                .attr("height", height)
                                .style("margin-top", 20)
                                .append("g");


                        var g = svg.append("g");

                        svg.append("rect")
                                .attr("class", "overlay")
                                .attr("width", width)
                                .attr("height", height);

                        svg.call(zoom)
                            .call(zoom.event);

                        d3.json("/world-50m.json", function(error, world) {
                            console.log(world);
                            if (error) throw error;

                            g.append("path")
                                    .datum({type: "Sphere"})
                                    .attr("class", "sphere")
                                    .attr("d", path);

                            g.append("path")
                                    .datum(topojson.merge(world, world.objects.countries.geometries))
                                    .attr("class", "land")
                                    .attr("d", path);

                            g.append("path")
                                    .datum(topojson.mesh(world, world.objects.countries, function(a, b) { return a !== b; }))
                                    .attr("class", "boundary")
                                    .attr("d", path);
                        });

                        d3.csv("/envDataOnSP500", function(error, companies)  {
                            g.selectAll("circle")
                                    .data(companies)
                                    .enter()
                                    .append("circle")
                                    .attr("cx", 40)
                                    .attr("cy", 140)
                                    .attr("r", 50)
                                    .style("fill, red");
                        });

                        function zoomed() {
                            g.attr("transform", "translate(" + d3.event.translate + ")scale(" + d3.event.scale + ")");
                        }

                        d3.select(self.frameElement).style("height", height + "px");

                    </script>

                </div>
            </div>

            <div class="col-md-6 resultsPanel">

                <div class="row">
                    <div class="col-md-9">
                        <h1> Results </h1>
                    </div>

                    <div class="col-md-2" style="margin-top: 25px;">
                        <button type="button" class="btn btn-success pull-right" disabled="disabled" id="saveResultButton">Save Results!</button>
                    </div>

                    <table class="table resultsTable">
                        <thead class="thead-inverse">
                        <tr>
                            <th>Company Name</th>
                            <th>Industry</th>
                            <th>Sector</th>
                            <th>Country</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--<tr>-->
                            <!--<th scope="row">1</th>-->
                            <!--<td>Mark</td>-->
                            <!--<td>Otto</td>-->
                            <!--<td>@mdo</td>-->
                        <!--</tr>-->
                        </tbody>
                    </table>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="myModalLabel">View company information </h4>
                                    <h6 class="modal-title">??</h6>
                                </div>
                                <div class="modal-body">
                                    <ul class="modal-list list-group">
                                        <!--<script language="javascript" type="text/javascript">-->
                                            <!--var videoList = [];-->
                                            <!--d3.csv("../data/video_list_edited.csv", function(error, data) {-->
                                                <!--var d3Tab = '\u00A0\u00A0\u00A0\u00A0';-->
                                                <!--for (var d = 0; d < data.length; d++) {-->
                                                    <!--d3.select(".list-group")-->
                                                            <!--.append("li")-->
                                                            <!--.attr("class", "modal-list-item list-group-item")-->
                                                            <!--.attr("value", d)-->
                                                            <!--.attr("id", d)-->
                                                            <!--.text(d+1 + "." + d3Tab + d3Tab+  d3Tab + d3Tab+"Valence: " + parseFloat(data[d].AVG_Valence).toFixed(2)-->
                                                                    <!--+d3Tab+"|"+d3Tab+"Arousal: " + parseFloat(data[d].AVG_Arousal).toFixed(2));-->
                                                <!--}-->
                                            <!--});-->
                                        <!--</script>-->
                                    </ul>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
    </div>
</template>