<template name="HomePrivate">
    <div class="page-container" id="content">

        <div id="page_menu" class="pull-right"></div>

        <div class="row">
            <div id="filterBar" >

                <div class="filter_topPanel">

                    <div class="col-md-2">
                        <button type="button" class="btn btn-secondary filterTexts" id="scrollToGeneral">General</button>
                    </div>

                    <div class="col-md-2">
                        <button type="button" class="btn btn-secondary filterTexts" id="scrollToEmissions">Emissions</button>
                    </div>

                    <div class="col-md-2">
                        <button type="button" class="btn btn-secondary filterTexts" id="scrollToWater">Water</button>
                        <!--<h3 class="filterTexts" id="applyFilterButton">Apply</h3>-->
                    </div>

                    <div class="col-md-2">
                        <button type="button" class="btn btn-secondary filterTexts" id="scrollToWaste">Waste</button>
                    </div>

                    <div class="col-md-2">
                        <button type="button" class="btn btn-secondary filterTexts" id="scrollToEnergy">Energy</button>
                    </div>

                    <div class="col-md-2">
                        <button type="button" class="btn btn-secondary filterTexts" id="scrollToMisc">Misc</button>
                    </div>


                    <!--<span class="glyphicon glyphicon-circle-arrow-right myGlyphicon" title="Apply filters" id="applyFilterButton"></span>-->
                    <!--<span class="glyphicon glyphicon-remove myGlyphicon" title="Reset all filters" id="resetAllFiltersButton"></span>-->
                </div>


                <div class="filter_container" id="accordion">


                    <!--<div class="filter_bottomPanel">-->

                        <!--<div class="col-md-6">-->
                            <!--<button type="button" class="btn btn-secondary filterTexts" id="applyFilterButton">Apply</button>-->

                            <!--&lt;!&ndash;<h3 class="filterTexts" id="applyFilterButton">Apply</h3>&ndash;&gt;-->
                        <!--</div>-->

                        <!--<div class="col-md-6">-->
                            <!--<button type="button" class="btn btn-secondary filterTexts" id="resetAllFiltersButton">Reset</button>-->
                        <!--</div>-->

                        <!--&lt;!&ndash;<span class="glyphicon glyphicon-circle-arrow-right myGlyphicon" title="Apply filters" id="applyFilterButton"></span>&ndash;&gt;-->
                        <!--&lt;!&ndash;<span class="glyphicon glyphicon-remove myGlyphicon" title="Reset all filters" id="resetAllFiltersButton"></span>&ndash;&gt;-->
                    <!--</div>-->

                    <!--GENERAL-->
                    <div class="panels">
                        <div class="panelGeneral panel-default">
                            <div class="clickable-panel">
                                <div class="panel-heading">
                                    <h4 class="panel-title accordion-toggle" data-toggle="collapse" data-parent="#panelGeneral" data-target="#collapseGeneral">
                                        <a class="lightText">General</a>
                                        <i class="indicator glyphicon glyphicon-chevron-down pull-right"></i>
                                    </h4>
                                </div>
                            </div>

                            <div id="collapseGeneral" class="panel-collapse collapse in">
                                <div class="panel-body">

                                    <div class="row">
                                        <div class="col-md-6"><strong> Sector </strong></div>
                                        <div class="col-md-6"><strong> Industry </strong></div>

                                    </div>

                                    <div class="row">

                                        <div class="col-md-6" style="top:5px">
                                            <div id="sector_chart" style="overflow-y: scroll; height: 300px">
                                                <div class="clearfix"></div>

                                                <div>
                                                    <a class="reset" href="javascript:sectorChart.filterAll();dc.redrawAll();"
                                                       style="visibility: hidden; position: absolute; height: 5px; right:0;">reset</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6" style="top:5px">
                                            <div id="industry_chart" style="overflow-y: scroll; height: 300px">
                                                <div class="clearfix"></div>

                                                <div>
                                                    <a class="reset" href="javascript:industryChart.filterAll();dc.redrawAll();"
                                                       style="visibility: hidden; position: absolute; height: 5px; right:0;"> reset</a>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--EMISSIONS-->
                        <div class="panelEmissions panel-default">
                            <div class="clickable-panel">
                                <div class="panel-heading">
                                    <h4 class="panel-title accordion-toggle" data-toggle="collapse" data-parent="#panelEmissions" data-target="#collapseEmissions">
                                        <a> Emissions </a>
                                        <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                                    </h4>
                                </div>
                            </div>

                            <div id="collapseEmissions" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <row>
                                        <strong>GHG Scope 1 Emission (MT) </strong>
                                    </row>

                                    <div id="ghg1Chart"></div>


                                    <div class="col-md-12" style="padding-left:0px;">
                                        <div class="col-md-10"><input type="range" class="attrScale" id="ghg1Weight" min="0" max="100" onchange="ghg1Count()"></div>
                                        <div style="font-size:9px; margin-left:15px;" id="ghg1Count">Weight: 50</div>
                                    </div>

                                    <!--<div class="clearfix"></div>-->
                                    <!--<div class="reset" style="display: none;">-->
                                    <!--<a class="reset" href="javascript:ghg1Chart.filterAll();dc.redrawAll();"-->
                                    <!--style="visibility: hidden; position: absolute; height: 5px; right:0;">reset</a>-->
                                    <!--</div>-->

                                    <row>
                                        <strong>GHG Scope 2 Emission (MT) </strong>
                                    </row>

                                    <div id="ghg2Chart"></div>

                                    <div class="col-md-12" style="padding-left:0px;">
                                        <div class="col-md-10"><input type="range" class="attrScale" id="ghg2Weight" min="0" max="100" onchange="ghg2Count()"></div>
                                        <div style="font-size:9px; margin-left:15px;" id="ghg2Count">Weight: 50</div>
                                    </div>

                                    <row>
                                        <strong>GHG Scope 3 Emission (MT) </strong>
                                    </row>

                                    <div id="ghg3Chart">
                                        <!--<div class="clearfix"></div>-->
                                        <!--<span class="reset" style="display: none;">-->
                                        <!--<a class="reset" href="javascript:ghg3Chart.filterAll();dc.redrawAll();" style="visibility: hidden;">reset</a>-->
                                        <!--</span>-->
                                    </div>

                                    <div class="col-md-12" style="padding-left:0px;">
                                        <div class="col-md-10" ><input type="range" class="attrScale" id="ghg3Weight" min="0" max="100" onchange="ghg3Count()"></div>
                                        <div style="font-size:9px; margin-left:15px;" id="ghg3Count">Weight: 50</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--WATER-->
                        <div class="panelWater panel-default">
                            <div class="clickable-panel">
                                <div class="panel-heading">
                                    <h4 class="panel-title accordion-toggle" data-toggle="collapse" data-parent="#panelWater" data-target="#collapseWater">
                                        <a> Water </a>
                                        <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                                    </h4>
                                </div>
                            </div>

                            <div id="collapseWater" class="panel-collapse collapse in">

                                <div class="panel-body">

                                    <row>
                                        <strong>Total Water Use</strong>
                                    </row>

                                    <div id="totalWaterUseChart">

                                        <!--<span class="reset" style="display: none;"></span>-->
                                        <!--<a class="reset" href="javascript:twwChart.filterAll();dc.redrawAll();" style="visibility: hidden;">reset</a>-->
                                        <!--<div class="clearfix"></div>-->
                                    </div>

                                    <div class="col-md-12" style="padding-left:0px;">
                                        <div class="col-md-10" ><input type="range" class="attrScale" id="totalWaterUseWeight" min="0" max="100" onchange="totalWaterUseCount()"></div>
                                        <div style="font-size:9px; margin-left:15px;" id="totalWaterUseCount">Weight: 50</div>
                                    </div>

                                    <row>
                                        <strong>Total Water Withdrawl(1000m<sup>3</sup>)</strong>
                                    </row>

                                    <div id="totalWaterWithdrawlChart">

                                        <!--<span class="reset" style="display: none;"></span>-->
                                        <!--<a class="reset" href="javascript:twwChart.filterAll();dc.redrawAll();" style="visibility: hidden;">reset</a>-->
                                        <!--<div class="clearfix"></div>-->
                                    </div>

                                    <div class="col-md-12" style="padding-left:0px;">
                                        <div class="col-md-10" ><input type="range" class="attrScale" id="totalWaterWithdrawlWeight" min="0" max="100" onchange="totalWaterWithdrawlCount()"></div>
                                        <div style="font-size:9px; margin-left:15px;" id="totalWaterWithdrawlCount">Weight: 50</div>
                                    </div>

                                    <row>
                                        <strong>Total Water Discharged(1000m<sup>3</sup>)</strong>
                                    </row>

                                    <div id="totalWaterDischargedChart"></div>

                                    <div class="col-md-12" style="padding-left:0px;">
                                        <div class="col-md-10" ><input type="range" class="attrScale" id="totalWaterDischargedWeight" min="0" max="100" onchange="totalWaterDischargedCount()"></div>
                                        <div style="font-size:9px; margin-left:15px;" id="totalWaterDischargedCount">Weight: 50</div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!--Waste-->
                        <div class="panelWaste panel-default">
                            <div class="clickable-panel">
                                <div class="panel-heading">
                                    <h4 class="panel-title accordion-toggle" data-toggle="collapse" data-parent="#panelWaste" data-target="#collapseWaste">
                                        Waste
                                        <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                                    </h4>
                                </div>
                            </div>

                            <div id="collapseWaste" class="panel-collapse collapse in">
                                <div class="panel-body">

                                    <row>
                                        <strong>Total Waste</strong>
                                    </row>

                                    <div id="totalWasteChart"></div>

                                    <div class="col-md-12" style="padding-left:0px;">
                                        <div class="col-md-10" ><input type="range" class="attrScale" id="totalWasteWeight" min="0" max="100" onchange="totalWasteCount()"></div>
                                        <div style="font-size:9px; margin-left:15px;" id="totalWasteCount">Weight: 50</div>
                                    </div>

                                    <row>
                                        <strong>Waste Recycled</strong>
                                    </row>

                                    <div id="wasteRecycledChart"></div>
                                    <div class="col-md-12" style="padding-left:0px;">
                                        <div class="col-md-10" ><input type="range" class="attrScale" id="wasteRecycledWeight" min="0" max="100" onchange="totalWasteRecycledCount()"></div>
                                        <div style="font-size:9px; margin-left:15px;" id="wasteRecycledCount">Weight: 50</div>
                                    </div>

                                    <row><strong>Waste Sent to Landfill(1000m<sup>3</sup>)</strong></row>

                                    <div id="wasteSentToLandfillChart"></div>

                                    <div class="col-md-12" style="padding-left:0px;">
                                        <div class="col-md-10" ><input type="range" class="attrScale" id="wasteSentToLandfillWeight" min="0" max="100" onchange="wasteSentToLandfillCount()"></div>
                                        <div style="font-size:9px; margin-left:15px;" id="wasteSentToLandfillCount">Weight: 50</div>
                                    </div>


                                </div>
                            </div>
                        </div>

                        <!--Energy-->
                        <div class="panelEnergy panel-default">
                            <div class="clickable-panel">
                                <div class="panel-heading">
                                    <h4 class="panel-title accordion-toggle" data-toggle="collapse" data-parent="#panelEnergy" data-target="#collapseEnergy">
                                        Energy
                                        <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                                    </h4>
                                </div>
                            </div>

                            <div id="collapseEnergy" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <row><strong>Total Energy Consumption</strong></row>
                                    <div id="totalEnergyConsumptionChart"></div>

                                    <div class="col-md-12" style="padding-left:0px;">
                                        <div class="col-md-10" ><input type="range" class="attrScale" id="totalEnergyConsumptionWeight" min="0" max="100" onchange="energyConsumptionCount()"></div>
                                        <div style="font-size:9px; margin-left:15px;" id="totalEnergyConsumptionCount">Weight: 50</div>
                                    </div>

                                </div>


                            </div>
                        </div>

                        <!--MISC-->
                        <div class="panelMisc panel-default">
                            <div class="clickable-panel">
                                <div class="panel-heading">
                                    <h4 class="panel-title accordion-toggle" data-toggle="collapse" data-parent="#panelMisc" data-target="#collapseMisc">
                                        Misc
                                        <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i>
                                    </h4>
                                </div>
                            </div>

                            <div id="collapseMisc" class="panel-collapse collapse in">
                                <div class="panel-body" style="height:825px;">
                                    <row>
                                        <strong>Climate Change Policy Implemented</strong>
                                    </row>

                                    <div id="ccPolicyImplRowChart"></div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <script>
                function ghg1Count() {
                    var x = "Weight: " + document.getElementById("ghg1Weight").value;
                    document.getElementById("ghg1Count").innerHTML = x;
                }
                function ghg2Count() {
                    var x = "Weight: " + document.getElementById("ghg2Weight").value;
                    document.getElementById("ghg2Count").innerHTML = x;
                }
                function ghg3Count() {
                    var x = "Weight: " + document.getElementById("ghg3Weight").value;
                    document.getElementById("ghg3Count").innerHTML = x;
                }
                function totalWaterUseCount() {
                    var x = "Weight: " + document.getElementById("totalWaterUseWeight").value;
                    document.getElementById("totalWaterUseCount").innerHTML = x;
                }
                function totalWaterWithdrawlCount() {
                    var x = "Weight: " + document.getElementById("totalWaterWithdrawlWeight").value;
                    document.getElementById("totalWaterWithdrawlCount").innerHTML = x;
                }
                function totalWaterDischargedCount() {
                    var x = "Weight: " + document.getElementById("totalWaterDischargedWeight").value;
                    document.getElementById("totalWaterDischargedCount").innerHTML = x;
                }
                function totalWasteCount() {
                    var x = "Weight: " + document.getElementById("totalWasteWeight").value;
                    document.getElementById("totalWasteCount").innerHTML = x;
                }
                function wasteRecycledCount() {
                    var x = "Weight: " + document.getElementById("wasteRecycledWeight").value;
                    document.getElementById("wasteRecycledCount").innerHTML = x;
                }
                function wasteSentToLandfillCount() {
                    var x = "Weight: " + document.getElementById("wasteSentToLandfillWeight").value;
                    document.getElementById("wasteSentToLandfillCount").innerHTML = x;
                }
                function totalEnergyConsumptionCount() {
                    var x = "Weight: " + document.getElementById("totalEnergyConsumptionWeight").value;
                    document.getElementById("totalEnergyConsumptionCount").innerHTML = x;
                }
            </script>

            <div id="controlBar">
                <div class="controlIcons">
                    <!--@TODO factor out 504 and make it dynamic-->
                    <div class='companiesCount'>
                        <span class='filter-count'></span>
                        <!--selected out of <span class='total-count'></span> records.-->
                    </div>

                    <span class="glyphicon glyphicon-arrow-left myGlyphicon" title="Collapse filters" id="collapseFilterButton"></span>

                    <!--<span class="glyphicon glyphicon-check myGlyphicon" title="Apply filters"></span>-->
                           <hr />

                    <!--<span class="glyphicon glyphicon-save myGlyphicon disabled" title="Save Results" id="saveResultButton"></span>-->
                    <span class="glyphicon glyphicon-th-list myGlyphicon disabled" title="Show List View" id="resultListViewButton" ></span>
                    <span class="glyphicon glyphicon-map-marker myGlyphicon disabled" title="Show Map View" id="resultMapViewButton"></span>
                    <!--http://google.github.io/material-design-icons/-->

                    <span class="glyphicon md-dark md-36 myGlyphicon disabled" title="Show Scatter Plot" id="resultScatterPlotViewButton">
                        <svg fill="#3C8D2F" height="36" viewBox="0 0 24 24" width="36" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0z" fill="none"/>
                            <circle cx="7.2" cy="14.4" r="3.2"/>
                            <circle cx="14.8" cy="18" r="2"/>
                            <circle cx="15.2" cy="8.8" r="4.8"/>
                        </svg>
                    </span>
                </div>
            </div>

            <div id="resultBar">



                <div class="col-md-12">
                    <div class="initView" >
                        Please apply filters
                    </div>


                    <div class="resultListView" style="display: none">
                        <table class="table resultsTable">
                            <thead class="thead-inverse">
                            <tr>
                                <th>Company Name
                                    <i class="indicator glyphicon glyphicon-chevron-down  pull-right" id="sortByCompanyButton"></i>
                                </th>
                                <th>Industry
                                    <i class="indicator glyphicon glyphicon-chevron-down  pull-right" id="sortByIndustryButton"></i>
                                </th>
                                <th>Sector
                                    <i class="indicator glyphicon glyphicon-chevron-down  pull-right" id="sortBySectorButton"></i>
                                </th>
                                <th>Country
                                    <i class="indicator glyphicon glyphicon-chevron-down  pull-right" id="sortByCountryButton"></i>
                                </th>
                                <th>Sustainability Score
                                    <i class="indicator glyphicon glyphicon-chevron-down  pull-right" id="sortByScoreButton"></i>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="resultScatterPlotView" style="display: none">

                        <div class="col-md-12">
                            <select id="xaxisMeasure" onchange="changeX()">
                                <option value="">-- x axis --</option>
                                <option value="GHG1">GHG1</option>
                                <option value="GHG2">GHG2</option>
                                <option value="GHG3">GHG3</option>
                                <option value="revenue">Revenue</option>
                                <option value="price">Price</option>
                                <option value="totalWaterUse">Water Intensity Per Sales</option>
                                <option value="totalWaterWithdrawl">Total Water Withdrawl</option>
                                <option value="totalWaterDischarged">Total Water Discharged</option>
                                <option value="totalWaste">Waste Sent To Landfill</option>
                                <option value="wasteSentToLandfill">Waste Intensity Per Sales</option>
                                <option value="wasteRecycled">Waste Generated Per Assets</option>
                                <option value="totalEnergyConsumption">Energy Intensity Per Sales</option>
                            </select>

                            <select id="yaxisMeasure" onchange="changeY()">
                                <option value="">-- y axis --</option>
                                <option value="GHG1">GHG1</option>
                                <option value="GHG2">GHG2</option>
                                <option value="GHG3">GHG3</option>
                                <option value="revenue">Revenue</option>
                                <option value="price">Price</option>
                                <option value="totalWaterUse">Water Intensity Per Sales</option>
                                <option value="totalWaterWithdrawl">Total Water Withdrawl</option>
                                <option value="totalWaterDischarged">Total Water Discharged</option>
                                <option value="totalWaste">Waste Sent To Landfill</option>
                                <option value="wasteSentToLandfill">Waste Intensity Per Sales</option>
                                <option value="wasteRecycled">Waste Generated Per Assets</option>
                                <option value="totalEnergyConsumption">Energy Intensity Per Sales</option>
                            </select>
                        </div>

                        <div id="scatter"></div>


                    </div>
                </div>

                <div class="col-md-12">
                    <div class="resultMapView" style="display: none">
                        <div id="worldMap"></div>
                        <div class="tooltip-box"></div>
                    </div>
                </div>





                <!-- Modal -->

                <!--<div class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">-->
                    <!--<div class="modal-dialog" role="document">-->
                        <!--<div class="modal-content">-->
                            <!--<div class="modal-header">-->
                                <!--<h4 class="modal-title" id="myModalLabel">View location information </h4>-->
                            <!--</div>-->
                            <!--<div class="modal-body">-->
                                <!--<ul class="modal-list list-group">-->
                                <!--</ul>-->
                            <!--</div>-->
                            <!--<div class="modal-footer">-->
                                <!--<button type="button" class="btn btn-default" id="closeModalButton" data-dismiss="modal">Close</button>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->


            </div>
        </div>
    </div>
</template>