<template name="ComparePanel">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<h2 id="page_title" class="pull-left">
					Compare your saved results!
				</h2>
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>

        <div class="row" id="main_content">
            <table class="table resultsTable">
                <thead class="thead-inverse">
                <tr>
                    <th>Index</th>
                    <th>Company count</th>
                </tr>
                </thead>
                <tbody>
                <!--<tr>-->
                <!--<th scope="row">1</th>-->
                <!--<td>Mark</td>-->
                <!--<td>Otto</td>-->
                <!--<td>@mdo</td>-->
                <!--</tr>-->
                </tbody>
            </table>

        </div>

	</div>
</template>

